@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
    height: 164vh;
    background-color: #2CB3F3;
    position: absolute;
}
.welcome{
    margin-top: 5.5rem;
    text-align: center;
    line-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-weight: 500;
    font-size: 3.5vw;
}
P{
    font-weight: 400;
    font-size: 1.8vw;
}
.finn-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.capuz{
    width: 64vw;
    height: 98vh;
    background-color: #FFFFFF;
    border-radius: 100px 100px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.rosto{
    width: 50vw;
    height: 78vh;
    background-color: #FFE1C9;
    border-radius: 80% 80% 80% 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.olhos{
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    top: 6rem;
}
.olho-esq, .olho-dir{
    width: 4vw;
    height: 9vh;
    background-color: #000000;
    border-radius: 100%;
    position: relative;
}
.olho-esq{
    left: 2rem;
}
.olho-dir{
    right: 2rem;
}
.form{
    width: 26rem;
    height: 20rem;
    margin-top: 10rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
input{
    width: 26vw;
    height: 10vh;
    border: 3px solid #000000;
    border-radius: 3%;
    display: flex;
}
.email, .password, button{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
button{
    width: 16vw;
    height: 11.2vh;
    font-weight: bold;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffffa6;
    background-color: #55A603;
    border-radius: 5px;
    box-shadow: 0px 4px 4px;
    top: 12rem;
}